<ion-view view-title="More Detail">
	<ion-content>
		<ion-list class="list-inset">
			<ion-item 
				class="item-text-wrap"
				ng-repeat="item in artists | filter: {shortname: whichartist}">
				<img ng-src="img/{{item.shortname}}_pn.jpg" alt="{{item.name}} Photo">
		      <h2>{{item.name}}</h2>
		      <h3>{{item.reknown}}</h3>
		      <p>{{item.bio}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

