<ion-view hide-nav-bar="false">
	<ion-content class="splash padding">
		<div class="branding">
			<img src="img/rouxacademylogo.svg" alt="Roux Academy Logo">
			<div class="tagline">2015 conference</div>
			<p>Join 500 creative and brilliant minds from art colleges around world</p>
		</div>
	</ion-content>
</ion-view>