<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="Home" icon="ion-home"
			 href="#/resto/artist/home">
			 <ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Artists" icon="ion-ios-people"
			 href="#/resto/artist/list">
			 <ion-nav-view name="list-tab"></ion-nav-view>
	</ion-tab>

</ion-tabs>