<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Resto</title>

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

    </head>
    <body ng-app="resto" ng-controller="RestoCtrl">
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class="bar-dark">
                <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"/></button>-->
                <button class="button button-icon" ng-click="toggleRestaurants()">
                    <i class="icon ion-navicon"></i>
                </button>
                <h1 class="title">Restaurants</h1>
                <button class="button button-icon" ng-click="newRestaurant()">
                    <i class="icon ion-compose"></i>
                </button>
            </ion-header-bar>
            <ion-content>
                <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="reloadAll()">
                </ion-refresher>
                <ion-list>
                    <ion-item ng-repeat="restaurant in restaurants">
                        {{restaurant.name}} 
                        <button class="button button-icon" ng-click="loadRestaurant(restaurant)">
                            <i class="icon ion-compose"></i>
                        </button>
                        <button class="button button-icon" ng-click="deleteRestaurant(restaurant)">
                            <i class="icon ion-android-delete"></i>
                        </button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu-content>

        <!--            <ion-side-menu side="left">
                        <ion-header-bar class="bar-dark">
                            <h1 class="title">Restaurants</h1>
                            <button class="button button-icon ion-plus" ng-click="newRestaurant()">
                            </button>
                        </ion-header-bar>
                        <ion-content scroll="false">
                            <ion-list>
                                <ion-item ng-repeat="restaurant in restaurants" ng-click="selectRestaurant(restaurant, $index)" ng-class="{active: activeRestaurant == restaurant}">
                                    {{restaurant.title}}
                                </ion-item>
                            </ion-list>
                        </ion-content>
                    </ion-side-menu>-->
    </ion-side-menus>
        <script id="new_restaurant.html" type="text/ng-template">
            <div class="modal">
                <!-- Modal header bar -->
                <ion-header-bar class="bar-secondary">
                    <h1 class="title">New restaurant</h1>
                    <button class="button button-clear button-positive" ng-click="closeNewRestaurant()">Cancel</button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>
                    <form ng-submit="createResto(restaurant)">
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Name" ng-model="restaurant.name">
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="Description..." ng-model="restaurant.description">
                            </label>
                        </div>
                        <div class="padding">
                            <button type="submit" class="button button-block button-positive">Create Restaurant</button>
                        </div>
                    </form>
                </ion-content>
            </div>
    </script>
    <script id="update_restaurant.html" type="text/ng-template">
        <div class="modal">
                <!-- Modal header bar -->
                <ion-header-bar class="bar-secondary">
                    <h1 class="title">Update restaurant</h1>
                    <button class="button button-clear button-positive" ng-click="closeUpdateRestaurant()">Cancel</button>
                </ion-header-bar>

                <!-- Modal content area -->
                <ion-content>
                    <form ng-submit="updateResto(restaurantUpdate)">
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="Name" ng-model="restaurantUpdate.name">
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="Description..." ng-model="restaurantUpdate.description">
                            </label>
                        </div>
                        <div class="padding">
                            <button type="submit" class="button button-block button-positive">Update Restaurant</button>
                        </div>
                    </form>
                </ion-content>
            </div>
    </script>

</body>
</html>
